.all-title {
    font-size: 20px;
    text-indent: 20px;
    line-height: 50px;
    border-bottom: 1px solid #eee;
}

.live-list {
    padding-top: 20px;
}

.live-list li {
    display: inline-block;
    margin-bottom: 20px;
    width: 25%;
}