.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  & > .user-part {
    & > .user-part-btn {
      margin-right: 10px;
    }
  }
}