@import "../../assets/style/default.scss";

.menu {
  display: inline-block;
}
.menu-item {
  display: inline-block;
}
.menu-item-link {
  display: block;
  padding: 10px;
  color: #333;
  &:hover {
    color: $theme-color;
  }
}