.live-item {
  display: block;
  margin: 0 auto;
  width: 240px;
  min-height: 200px;
  color: #333;
  border: 1px solid #eee;
  cursor: pointer;
  transition: box-shadow 0.3s;
  &:hover {
    box-shadow: 0 0 10px 2px #eee;
  }
  .picture {
    width: 100%;
    height: 135px;
    background-size: cover;
  }
  .info {
    padding: 5px;
    .line {
      position: relative;
      margin-bottom: 5px;
      p {
        width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      span {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
        line-height: 22px;
      }
    }
  }
}